.cart-menu {
    position: absolute;
    top: 80px;
    right: 10px;
    width: 400px;
    padding: 10px 20px;
    z-index: 2;
    border: 1px solid white;
    backdrop-filter: blur(30px);
}

.cart-modal {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.cart-modal_total-price {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
