.header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(107, 107, 107);
}

.wrapper{
    display: flex;
}

.store-title {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav-menu ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.navLink {
    text-decoration: none;
    color: white;
}

.navLink:hover,
.navLink:active {
    color: rgb(197, 43, 136);
    transition: 0.7s;
}

.burger-btn {
    display: none;
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
    color: white;
}

.search-btn{
    margin-right: 30px;
    cursor: pointer;
}

.input-search{
    outline: none;
    background: none;
    color: white;
    border: 1px solid rgb(107, 107, 107);
    width: 300px;
    height: 30px;
    border-radius: 20px;
    margin: 0 10px 0 10px;
    padding-left: 20px;
    z-index: 50;
}

.search-block{
    position: relative;
}

.input-values{
    position: absolute;
    z-index: 50;
    top: 35px;
    left: 10px;
    border-radius: 20px;
    width: 300px;
    padding: 10px;
    background-color: rgb(25, 26, 28);
    border: 1px solid rgb(107, 107, 107);
}

.search-title{
   color: white;
}

.search-result{
    display: flex;
}

.search-content{
    margin-left: 5px;
}

.card-btn-wrapper{
    display: flex;
    align-items: center;
}

@media (max-width: 420px) {
    .burger-btn{
        display: block;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: black;
        opacity: 0.9;
        z-index: 50;
        transition: 1s;
        transform: translateX(-100%);
    }

    .nav-menu ul {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    .resp_nav {
        transform: none;
    }
    .close-btn{
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .store-title {
        display: none;
    }

    .header {
        height: 60px;
        padding: 0 15px;
        background-color: rgb(70, 20, 44);
    }

    .nav-menu ul {
        text-align: start;
        width: 100%;
    }
}