* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    background: url(./fim-covers/backgroud.jpg);
    background-size: cover;
}

.App {
    margin: 0 auto;
    color: white;
}

@media (max-width: 420px) {
    body {
        background: rgb(41,41 , 101);
 }
}
